<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.extraaedge.web.testcases.TC_Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyStatusTabsDisplayedOrNot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateStatusTabsCounts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateHomePageURL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyStatusTabsCountsDisplayedOrNot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validdateSuccessfulLogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateLoggedInUserName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginToTheSystem</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>sendTestReportOverEmail</td>
<td>&nbsp;</td></tr>
</table>
