<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:15</td>   <td>0</td> <td title="&gt;&gt;TC_Login._BeforeSuite()[pri:0, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">&gt;&gt;_BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:38</td>   <td>22416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.loginToTheSystem()[pri:1, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">loginToTheSystem</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:45</td>   <td>29675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validateHomePageURL()[pri:2, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">validateHomePageURL</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:45</td>   <td>29728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validateLoggedInUserName()[pri:3, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">validateLoggedInUserName</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:48</td>   <td>32799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.verifyStatusTabsDisplayedOrNot()[pri:4, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">verifyStatusTabsDisplayedOrNot</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:49</td>   <td>33219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.verifyStatusTabsCountsDisplayedOrNot()[pri:5, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">verifyStatusTabsCountsDisplayedOrNot</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:49</td>   <td>33557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validateStatusTabsCounts()[pri:6, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">validateStatusTabsCounts</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:53</td>   <td>37532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validdateSuccessfulLogout()[pri:7, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">validdateSuccessfulLogout</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:53</td>   <td>37761</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_Login.sendTestReportOverEmail()[pri:0, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">&lt;&lt;sendTestReportOverEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>17/06/08 12:39:53</td>   <td>37835</td> <td title="&lt;&lt;TC_Login.AfterSuite()[pri:0, instance:com.extraaedge.web.testcases.TC_Login@146ba0ac]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
</table>
