<h2>Reporter output</h2><table><tr><td>Chrome Browser is opened</td></tr>
<tr><td>Browser is maximized.</td></tr>
<tr><td>User has opened correct login page.</td></tr>
<tr><td>Background Image on Login Page is displayed</td></tr>
<tr><td>Account Logo is displayed.</td></tr>
<tr><td>Username input box is displayed.</td></tr>
<tr><td>Username entered successfully.</td></tr>
<tr><td>Password input box is displayed.</td></tr>
<tr><td>Password entered successfully.</td></tr>
<tr><td>Login button is displayed.</td></tr>
<tr><td>User has clicked Log In button.</td></tr>
<tr><td>User is landed on Correct Homepage. Homepage is verified.</td></tr>
<tr><td>Recent New Tab is Displayed</td></tr>
<tr><td>Recent Online Tab is Displayed</td></tr>
<tr><td>Upcoming Followup Calls Tab is Displayed</td></tr>
<tr><td>Upcoming Walkins Tab is Displayed</td></tr>
<tr><td>High Priority Tab is Displayed</td></tr>
<tr><td>Recent New Tab Count is Displayed</td></tr>
<tr><td>Recent Online Tab Count is Displayed</td></tr>
<tr><td>Upcoming Followup Calls Tab Count is Displayed</td></tr>
<tr><td>Upcoming Walkins Tab Count is Displayed</td></tr>
<tr><td>High Priority Tab Count is Displayed</td></tr>
<tr><td>Recent New Tab Count displayed is correct.</td></tr>
<tr><td>Recent Online Tab Count displayed is correct.</td></tr>
<tr><td>Upcoming Followup Calls Tab Count displayed is correct.</td></tr>
<tr><td>Upcoming Walkins Tab Count displayed is correct.</td></tr>
<tr><td>High Priority Tab Count displayed is correct.</td></tr>
<tr><td>User has clicked Log out link.</td></tr>
<tr><td>User has logged out successfully.</td></tr>
<tr><td>Browser has been closed.</td></tr>
</table>