<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:12</td>   <td>0</td> <td title="&gt;&gt;TC_Login._BeforeSuite()[pri:0, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">&gt;&gt;_BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:30</td>   <td>18358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.loginToTheSystem()[pri:1, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">loginToTheSystem</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:37</td>   <td>25383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validateHomePageURL()[pri:2, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">validateHomePageURL</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:37</td>   <td>25447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validateLoggedInUserName()[pri:3, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">validateLoggedInUserName</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:40</td>   <td>28533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.verifyStatusTabsDisplayedOrNot()[pri:4, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">verifyStatusTabsDisplayedOrNot</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:41</td>   <td>29057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.verifyStatusTabsCountsDisplayedOrNot()[pri:5, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">verifyStatusTabsCountsDisplayedOrNot</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:41</td>   <td>29329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validateStatusTabsCounts()[pri:6, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">validateStatusTabsCounts</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:48</td>   <td>36474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Login.validdateSuccessfulLogout()[pri:7, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">validdateSuccessfulLogout</td> 
  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:49</td>   <td>36719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_Login.sendTestReportOverEmail()[pri:0, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">&lt;&lt;sendTestReportOverEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>17/06/08 12:40:49</td>   <td>36789</td> <td title="&lt;&lt;TC_Login.AfterSuite()[pri:0, instance:com.extraaedge.web.testcases.TC_Login@77cd7a0]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458540918</td>   <td></td> </tr>
</table>
